[submodule "core"]
	path = modules/core
	url = git@git.dubzland.com:dubzland/dotfiles.core.git
[submodule "dev"]
	path = modules/dev
	url = git@git.dubzland.com:dubzland/dotfiles.dev.git
[submodule "i3"]
	path = modules/i3
	url = git@git.dubzland.com:dubzland/dotfiles.i3.git
[submodule "nvim"]
	path = modules/nvim
	url = git@git.dubzland.com:dubzland/dotfiles.nvim.git
[submodule "modules/alacritty"]
	path = modules/alacritty
	url = git@git.dubzland.com:dubzland/dotfiles.alacritty.git
[submodule "modules/colors"]
	path = modules/colors
	url = git@git.dubzland.com:dubzland/dotfiles.colors.git
