*.un~
.prime_install.log
core/.vim/.netrwhist
core/.local/share/vim/site/**/*
core/.local/share/vim/undodir/**/*
i3/.config/dunst/dunstrc.d/*
i3/.config/i3/config
i3/.config/i3/conf.d/colors.conf
i3/.config/rofi/base16-theme.rasi
